<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <title>Profile Dropdown</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    {% block main %}
    {% endblock main %}
    {% include 'components/footer.html' %}
    {% include "components/alert.html" %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}

    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
