{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password{% endblock title %} 
{% block main %}
<!-- ============================ COMPONENT Reset Password   ================================= -->
<div class="container">
  <div class="d-flex flex-column text-center" style="max-width: 600px; margin: 0 auto;">
    <div class="form-title text-center" style="margin: 50px;">
      <h4 class="title0">Reset Password</h4>
    </div>
    <form  id="form" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <!-- form-group get email start// -->
      <div  id="getMailBox">
        <div class="email-error form-group" style="display: none">
        </div>
        <div class="form-group" style="margin-top: 15px;">
          <input type="email" name="email" placeholder="Email" id="id_email" class="form-control" required/>
        </div>

        <div class="form-group" style="margin-top: 15px;">
          <button  type="button" class="btn btn-info btn-lg form-control" id="getEmail">Get Email</button>
        </div>

      </div>
      <!-- form-group get email end .// -->
      <!-- form-group get otp start .// -->
      <div id="afterOTPbox" style="display: none;">

        <div class="form-group" style="margin-top: 15px;">
          <input name="otp" class="form-control" placeholder="OTP" type="text" id="id_otp" required /> 
        </div>

        <div class="form-group" style="margin-top: 15px;">
          <button  type="button" class="btn btn-info btn-lg form-control" id="otpBtn"> Send </button>
        </div>

        <input type="hidden" name="realotp" id="id_realotp">

      </div>
      <!-- form-group get otp end .// -->
      <div id="resetPasswordBox" style="display: none;">

        <div class="form-group eye-add" style="margin-top: 15px;">
          <input type="password" name="password" placeholder="Password" id="id_password" class="form-control" required/>
            <span class="text-muted eye-add-style" id="showHide">
            <i class="fas fa-eye-slash fa-lg me-3 fa-fw text-info" id="icon"></i></span>
        </div>

          <div class="form-group" style="margin-top: 15px;">
            <button  type="button" class="btn btn-info btn-lg form-control" id="changeSaved">Reset Saved</button>
          </div>
      </div>
    </form>
    
  </div>
</div>
<!-- ============================ COMPONENT Reset Password  END.// ================================= -->
{% endblock main %}
{% block extra_scripts %}
<script>
  $(document).ready(function(){

  });
</script>
{% endblock extra_scripts %}