{% extends 'base.html' %} 
{% load static %} 
{% block title %}Changes Password{% endblock title %} 
{% block main %}
  <!-- ============================ COMPONENT Changes Password   ================================= -->
  <div class="container">
    <div class="d-flex flex-column text-center" style="max-width: 600px; margin: 0 auto;">
      <div class="form-title text-center" style="margin: 50px;">
        <h4 class="title0">Changes Password</h4>
      </div>
      <form  id="form" method="POST">
        {% csrf_token %}
        <div class="password-error form-group" style="display: none">
                      
        </div>
        <div class="form-group" style="margin-top: 15px;">
          <input name="current_password" class="form-control" placeholder="Current Password" type="password" id="id_current_password" required />
        </div>

        <div class="form-group" style="margin-top: 15px;">
          <input type="password" name="password" placeholder="Password" id="id_password" class="form-control" required/>
        </div>
      
        <div class="form-group eye-add" style="margin-top: 15px;">
          <input type="password" name="password2" placeholder="Confirm Password" id="id_password2" class="form-control" required/>
            <span class="text-muted eye-add-style" id="showHide">
            <i class="fas fa-eye-slash fa-lg me-3 fa-fw text-info eyer-style-cursor" id="icon"></i></span>
        </div>
        
        <div class="form-group" style="margin-top: 15px;">
          <button  type="button" class="btn btn-info btn-lg form-control" id="chanPassBtn">Changes Saved</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ============================ COMPONENT Changes Password  END.// ================================= -->
{% endblock main %}
{% block extra_scripts %}
{% endblock extra_scripts %}